.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 100px 0;
  background-color: #1E2D3B;
    .container_dischi {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column ;
      flex-basis: 200px;
      padding: 20px;
      margin: 10px 20px;
      background: rgb(46, 58, 70);
      text-align: center;
    }
    .image_dischi {
      max-width: 100%;
    }
    
    .info_dischi {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column ;
      flex-basis: 200px;
      padding: 20px;
      margin: 10px 20px;
      background: rgb(46, 58, 70);
      text-align: center;
    }
    
    h3 {
      margin: 20px 0;
      color: white;
      font-size: 22px;
      text-transform: uppercase;
    }
    h4 {
      padding-top: 10px;
      font-size: 18px;
      color: white;
    }
    p {
      padding-top: 10px;
      font-size: 16px;
      color: white;
    }
    h2 {
      color: white;
    }
  }